/* @settings

name: Sticky Headings
id: sticky-headings
settings:
    - 
        id: indent-width
        title: Indent width
        description: The indentation width in em units
        type: variable-number
        default: 1
        format: rem

*/

:root {
	--indent-width: 1em;
}

.view-content {
	position: relative;
}

.sticky-headings-root {
	height: fit-content;
	/* transition: height 0.05s linear; */
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0 var(--file-margins);
	z-index: 1;
}

.sticky-headings-container {
	font-size: 12px;
	margin: 0 auto;
	background-color: var(--background-primary);
	max-width: var(--file-line-width);
}

.sticky-headings-item {
	line-height: 18px;
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* height: 18px; */
	cursor: var(--cursor-link);
}

.sticky-headings-item svg {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	color: var(--link-color);
}

.sticky-headings-item.sticky-headings-level-2 {
	padding-left: var(--indent-width);
}

.sticky-headings-item.sticky-headings-level-3 {
	padding-left: calc(var(--indent-width) * 2);
}

.sticky-headings-item.sticky-headings-level-4 {
	padding-left: calc(var(--indent-width) * 3);
}

.sticky-headings-item.sticky-headings-level-5 {
	padding-left: calc(var(--indent-width) * 4);
}

.sticky-headings-item.sticky-headings-level-6 {
	padding-left: calc(var(--indent-width) * 5);
}

.sticky-headings-item:last-of-type {
	padding-bottom: 5px;
}